<div class="side-bar-header">
  <div class = "header-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class = "create-room">
  <a href = "#">チャットルームを作成</a>
  </div>
</div>

<div class="rooms">
  <div class = "room">
    <div class = "room-name">
    <a href = "#">聖飢魔II</a>
    </div>
  </div>
  <div class = "room">
    <div class = "room-name">
    <a href = "#">蝋人形の館</a>
    </div>
  </div>
  <div class = "room">
    <div class = "room-name">
    <a href = "#">浪人生の館</a>
    </div>
  </div>
</div>

